<!DOCTYPE html>
<html>
  <header >
    <h1>WELCOME TO HELL</h1>
  </header>
  <form class="loginform" validate>
    ADMIN<input type="radio" name="userinput" required>&nbsp;&nbsp;
    USER<input type="radio" name="userinput" required><br><br>
    USERNAME &nbsp;<input type="email" name="username" placeholder="abc@gmail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required><br><br>
    PASSWORD &nbsp;<input type="password" name="pw" placeholder="enter password" required><br><br>
    <nav>
        <a routerLink="/login/details">submit</a>
    </nav>
  </form>
</html>